<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - QuestionGen</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="about">
    <header>
        <nav>
            <div class="nav-left">
                <a href="{{ url_for('home') }}">Home</a>
            </div>
            
        </nav>
    </header>
    </div>
    <main>
        <div class="about-container">
            <h2>About Vocab AI</h2>
            <p> Welcome to our platform, where advanced AI technology meets interactive learning. Our website offers a unique experience by transforming your provided content into custom-generated questions designed to test your understanding. Here’s how it works: 
                <ul>
                    <li>Content Submission: Start by inputting your content into our intuitive interface.</li>
                    <li>Question Generation: Our system automatically generates relevant questions based on the content provided.</li>
                    <li>Answer Submission: You then have the opportunity to answer these questions.</li>
                    <li>AI-Powered Evaluation: Once your answers are submitted, our AI system immediately checks them for accuracy. If any answers are incorrect, we provide the correct solutions to ensure a comprehensive learning experience.</li>
                </ul>
            </p>
            <p>This process not only helps in gauging your comprehension but also enhances your learning by offering detailed feedback. Whether you’re studying for an exam, preparing for a presentation, or simply exploring new topics, our platform provides a reliable and efficient tool to support your educational journey. Explore the possibilities with our innovative solution and make your learning process more engaging and effective!
            </p>
            <h3>Tech Stack :</h3>
            <ul>
                <li>HTML, CSS, JavaScript, Python, Flask, SQl, Gemini</li>
                <li>AI-based question generation and answer checking</li>
                <li>Responsive and creative UI design</li>
                <li>And much more !!</li>
            </ul>
        </div>
    </main>
</body>
</html>